*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	font-weight: bold;
}
.navbar{
	position: fixed;
	display: inline-flex;
	background: darkgreen;
	width: 100%;
	color: yellow;
}
.navbar .logo{
	margin: 15px;
}
.navbar .logo h1{
	font-size: 30px;
}
.navbar .item{
	display: flex;
	width: 60%;
	left: 65%;
	justify-content: right;
	align-items: center;
}
.navbar .item li{
	display: inline-flex;
	margin: 15px;
	padding: 10px;
}
.navbar .item li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.navbar .item li a:hover{
	color: black;
	transition: 0.4s;
	text-decoration: 2px underline;
}
.contactpage .text{
	text-align: center;
}
.contactpage .text h1{
	display: inline-flex;
	margin-top: 200px;
	color: dodgerblue;
	font-size: 60px;
}
.contactpage .telegram{
	text-align: center;
}
.contactpage .telegram img{
	margin-top: 50px;
	height: 50px;
    width: 50px;
}
.contactpage .instagram{
	text-align: center;
}
.contactpage .instagram img{
	margin-top: 50px;
	height: 50px;
    width: 50px;
}
.contactpage .updatedweb{
	text-align: center;
}
.contactpage .updatedweb img{
	margin-top: 50px;
	height: 50px;
    width: 50px;
}
.contactpage .footer{
	margin-top: 300px;
}